{{#if template}}
<template>
  <div class="{{kebabName}}">{{ kebabName }}</div>
</template>
{{/if}}

{{#if script}}
<script>
export default {
  name: '{{ componentName }}',
  props: {},
  data() {
    return {}
  },
  methods: {}
};
</script>
{{/if}}
